.newForm{
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    .mat-form-field-appearance-legacy{
        .mat-form-field-label {
            color: $s-dark;
        }
        .mat-hint {
            color: $gray;
        }
        .mat-form-field-underline {
            background-color: $gray;
        }
    }
    .mat-select-value{
        color: $font-color2;
    }
}
.mat-raised-button{
    background: $p-color;
    &[disabled][disabled]{
        background: $gray;
        color: $white;
    }
}
input[type=number]{
    -moz-appearance: textfield;
    appearance: textfield;
    &::-webkit-inner-spin-button { 
        -webkit-appearance: none;
    }
}