.header{
    margin: 30px auto;
    width: 100%;
    background: $p-color;
    border-radius: 10px;
    height: 80px;
    box-sizing: border-box;
    a{
        height: 100%;
        width: 250px;
        text-decoration: none;
        color: $white;
        text-transform: uppercase;
        transition: $muitoRapido;
        &:hover{
            background: $p-dark;
        }
    }
}