.d-flex{
    &--content{
        &-center{
            display: flex;
            justify-content: center;
        }
        &-evenly{
            display: flex;
            justify-content: space-evenly;
        }
        &-around{
            display: flex;
            justify-content: space-around;
        }
        &-between{
            display: flex;
            justify-content: space-between;
        }
    }
    &-direction{
        &--column{
            display: flex;
            flex-direction: column;
        }
    }
}
.d-resp-flex{
    &--content{
        &-center{
            display: flex;
            justify-content: center;
            @media screen and (max-width:$mobile){
                flex-direction: column;
                align-items: center;
            }
        }
        &-evenly{
            display: flex;
            justify-content: space-evenly;
            @media screen and (max-width:$mobile){
                flex-direction: column;
                align-items: center;
            }
        }
        &-around{
            display: flex;
            justify-content: space-around;
            @media screen and (max-width:$mobile){
                flex-direction: column;
                align-items: center;
            }
        }
        &-between{
            display: flex;
            justify-content: space-between;
            @media screen and (max-width:$mobile){
                flex-direction: column;
                align-items: center;
            }
        }
    }
    &--align{
        &-center{
            display: flex;
            align-items: center;
        }
        @media screen and (max-width:$mobile){
            flex-direction: column;
        }
    }
}