<form class="newForm" [formGroup]="newForm">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Titulo" required formControlName="titulo">
    <mat-error *ngIf="this.newForm.get('titulo').hasError('required')">
      Titulo é <strong>requerido</strong>
    </mat-error>
    <mat-error *ngIf="this.newForm.get('titulo').hasError('Lettlers')">
      Apenas letras são permitidas
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Nome" required formControlName="nome">
    <mat-error *ngIf="this.newForm.get('nome').hasError('required')">
      Nome é <strong>requerido</strong>
    </mat-error>
    <mat-error *ngIf="this.newForm.get('nome').hasError('Lettlers')">
      Apenas letras são permitidas
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" required formControlName="email">
      <mat-error *ngIf="this.newForm.get('email').hasError('email') && !this.newForm.get('email').hasError('required')">
        Por favor, digite um e-mail válido
      </mat-error>
      <mat-error *ngIf="this.newForm.get('email').hasError('required')">
        E-mail é <strong>requerido</strong>
      </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Telefone" type="number" formControlName="fone">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Assunto</mat-label>
    <mat-select formControlName="assunto" required>
      <mat-option value="option1">Option 1</mat-option>
      <mat-option value="option2">Option 2</mat-option>
      <mat-option value="option3">Option 3</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput #message maxlength="500" placeholder="Message" required formControlName="message">
    <mat-hint align="start"><strong>Cuidado ao divulgar informações pessoais e da empresa</strong> </mat-hint>
    <mat-hint align="end">{{message.value.length}} / 500</mat-hint>
  </mat-form-field>
  <br><br>
  <a mat-raised-button [disabled]="!newForm.valid" (click)="sendMessage()">Enviar mensagem</a>
</form>