<div class="dashboard">
    <div class="listCards">
        <div class="card allCenter" *ngFor="let card of cards | reverse; let i = index " (click)="searchMessage(lengthData - i)">
            <span>{{card.title}}</span>
            <p>{{card.time}}</p>
        </div>
    </div>
    <div class="message">
        <div class="message__body">
            <span class="title" *ngIf="message">{{message.title}}</span>
            <span class="time" *ngIf="message">{{message.time}}</span>
            <span class="subTitle" *ngIf="message">{{message.subject}}</span>
            <p class="text" *ngIf="message">{{message.message}}</p>
        </div>
        <a mat-raised-button routerLink="." (click)="sendToTrash(message.id)">Excluir mensagem</a>
    </div>
</div>