
.listCards{
    overflow: auto;
    height: 600px;
    padding: 10px;
    margin-bottom: 50px;
    width: 350px;
    .card{
        box-shadow: 2px 2px 5px $light-sombra;
        width: 250px;
        height: 150px;
        flex-direction: column;
        line-height: 35px;
        margin: 20px 0;
        border-radius: 10px;
        cursor: pointer;
        span{
            font-weight: bold;
            font-size: $f-big;
        }
        p{
    
        }
    }
}