.message{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    height: 600px;
    padding-right: 10px;
    &__body{
        width: 90%;
        box-shadow: 3px 3px 6px $light-sombra;
        height: 400px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding: 20px;
        box-sizing: border-box;
        color: $font-color1;
        line-height: 30px;
    }
    .title{
        font-weight: bold;
        font-size: $f-superXS;
    }
    .text{
        margin-top: 30px;
        font-size: $f-large;
        color: $font-color2;
        width: 100%;
        height: inherit;
        word-break: break-word;
    }
    a{
        background: $p-color;
    }
}