@import "./settings/_base.scss";
@import "./components/_baseComponents.scss";
@import "./pages/_basePages.scss";
@import "./estilos/base-estilos.scss";

*{
    margin: 0;
    padding: 0;
    font-family: $roboto;
    outline: none;
}
html{
    scroll-behavior: smooth;
}
.destaque{
    width: 80%;
    margin: 0 auto;
}